body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  color: #212121;
  font-family: "akhbar", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('imgs/cursor3.png'); 
}
html, body {
  cursor: url('imgs/cursor3.png'); 
}
::selection {
  background: #000000;
  color: #ffffff;
}

a {
  text-decoration: none; 
  font-style: italic;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;
}

/* ---------------------- HEADER ---------------------- */
header {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.logo {
  height: 90px;
}

.occupation {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 20px; 
  width: auto; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin-block: 0;
}

/* ---------------------- MENU ---------------------- */
.index {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 20px; 
  width: auto;  
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.index .dropdown-content {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%; /* Position below the index */
  left: 20px;
  width: 20vw; 
}

.index:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;
}

.index:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* ---------------------- MAIN CONTENT ---------------------- */
.items {
  position: relative;
  height: 100%;
}

.item {
  position: absolute;
}

.title {
  padding: 0px;
}

.content {
  position: absolute;
  right: 20%;
  top: 30%;
  display: none;
  padding: 10px;
  z-index: 10;
  line-height: 1;
  width: 10vw; 
  text-transform: uppercase; 
  text-align: justify;
  text-justify: inter-word;
}

.content img {
  height: 20%; 
}

.item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;
}

.item:hover .content {
  display: block;
}

/* ---------------------- CURSOR ---------------------- */
/*
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px; 
  height: 20px;
  pointer-events: none;
  transition: transform 0.1s ease;
  z-index: 9999;
  background-image: url('imgs/cursor2.png');  
  background-size: cover; 
}*/

/* ---------------------- FOOTER ---------------------- */
footer {
  margin: 0px;
  padding: 0px;
  margin-top: auto;
  text-align: center;
}

/*
font-family: "shabby-chic", sans-serif;
font-weight: 400;
font-style: normal;
*/