body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  color: #212121;
  font-family: "akhbar", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('imgs/cursor.png'), auto;
}

/* ---------------------- HEADER ---------------------- */
header {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.logo {
  height: 90px;
}

.occupation {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 20px; 
  width: auto; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin-block: 0;
}

/* ---------------------- MENU ---------------------- */
.index {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 20px; 
  width: auto;  
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.index .dropdown-content {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%; /* Position below the index */
  left: 20px;
  width: 20vw; 
}

.index:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;
}

.index:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* ---------------------- MAIN CONTENT ---------------------- */
.items {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
}

.content {
  position: absolute;
  right: 100%;
  top: 0;
  display: none;
  padding: 8px;
  z-index: 10;
  width: auto; 
  line-height: 1;
}

.item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.3px;
  cursor: url('imgs/cursor.png'), auto;
}

.item:hover .content {
  display: block;
}

/* ---------------------- CURSOR ---------------------- */
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;  /* Adjust the width and height as per your image size */
  height: 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
  background-image: url('imgs/cursor.png');  /* Set your cursor image */
  background-size: cover; /* Ensure the image fits the size */
}

/* ---------------------- FOOTER ---------------------- */
footer {
  margin: 0px;
  padding: 0px;
  margin-top: auto;
  text-align: center;
}

/*
font-family: "shabby-chic", sans-serif;
font-weight: 400;
font-style: normal;
*/